<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="layui/css/layui.css" type="text/css">
    <script th:src="@{/layui/layui.js}" src="layui/layui.js"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<form class="layui-form" style="margin-top: 20px"
      action="" id="frm">
    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-inline">
            <input type="text" name="loginName" id="loginName" readonly
                   autocomplete="off" class="layui-input" th:value="${param.loginName}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 85px">请输入新密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password" required lay-verify="required" id="password"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="width: 85px">请确认新密码</label>
        <div class="layui-input-inline">
            <input type="text" name="repeat" required lay-verify="required" id="repeat"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
<script>
    layui.use(['form', 'jquery', 'upload'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var upload = layui.upload;

        form.on('submit(formDemo)', function (data) {
            var loginName = $("#loginName").val();
            var password = $("#password").val();
            var repeat = $("#repeat").val();
            if (password == repeat) {
                $.ajax({
                    type: 'post',
                    url: '/user/editPassword',
                    data: {loginName: loginName, password: password},
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg("密码修改成功，请返回重新登入");
                            setTimeout(function () {
                                top.location.href = "/login"
                            }, 2000);
                        } else {
                            layer.msg("密码修改失败");
                        }
                    }
                });
                return false;
            } else {
                layer.msg("密码不一致，请重新输入");
                return false;
            }
        })
    })
</script>
</html>