<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>we are ~</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="layui/css/layui.css" type="text/css">
    <script th:src="@{/layui/layui.js}" src="layui/layui.js"></script>
    <style>
        h1 {
            font-family: "微软雅黑";
            font-size: 40px;
            margin: 20px 0;
            border-bottom: solid 1px #ccc;
            padding-bottom: 20px;
            letter-spacing: 2px;
        }

        .time-item strong {
            background: #00BFFF;
            color: #fff;
            line-height: 49px;
            font-size: 36px;
            font-family: Arial;
            padding: 0 10px;
            margin-right: 10px;
            border-radius: 5px;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
        }

        .item-title .unit {
            background: none;
            line-height: 49px;
            font-size: 24px;
            padding: 0 10px;
            float: left;
        }
    </style>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo layui-hide-xs layui-bg-black">we are ~</div>
        <!-- 头部区域（可配合layui 已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <!-- 移动端显示 -->
            <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                <i class="layui-icon layui-icon-spread-left"></i>
            </li>
        </ul>

        <ul class="layui-nav layui-layout-right"
            lay-filter="layadmin-layout-right">
            <li class="layui-nav-item" lay-unselect><a href="javascript:;">
                <img src="images/bg.jpg" id="img" alt="" style="height:35px;width:35px;border-radius:50%">
                <cite id="userName">游客</cite>
            </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="personalCenter">个人中心</a>
                        <a href="passwordView">修改密码</a>
                    </dd>
                    <hr>
                    <dd layadmin-event="logout" style="text-align: center;" id="dropOut">
                        <a href="/login">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>

    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">小工具</a>
                    <dl class="layui-nav-child">
                        <dd><a id="crc" href="crc">CRC加密</a></dd>
                        <dd><a id="des" href="des">DES加解密</a></dd>
                        <dd><a id="space" href="space">字符串去空格</a></dd>
                        <dd><a id="timestamp" href="timestamp">时间戳转换</a></dd>
                        <dd><a id="jsonTrans" href="jsonTrans">JSON格式化校验</a></dd>
                        <dd><a id="baseConversion" href="baseConversion">进制转换</a></dd>
                        <dd><a id="ocr" href="ocr">文字识别</a></dd>
                        <dd><a id="humpConversion" href="humpConversion">下划线驼峰转换</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">小娱乐</a>
                    <dl class="layui-nav-child">
                        <dd><a id="lottery" href="lottery">大乐透</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a id="takeaway" href="takeaway">拿外卖</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <div align="center" style="font-size: 50px">
            we are ~
        </div>
        <div class="time-item" style="text-align: center">
            <strong id="hour_show">0时</strong>
            <strong id="minute_show">0分</strong>
            <strong id="second_show">0秒</strong>
        </div>
        <div style="width: 100%;height: 100%;">
            <iframe src="" width="100%" height="100%" id="iframeMain"></iframe>
        </div>
    </div>

    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text" name="loginName" id="loginName"
                   autocomplete="off" class="layui-input" th:value="${param.loginName}">
        </div>
    </div>

</div>

<script>
    //JS
    layui.use(['element', 'layer', 'util'], function () {
        var element = layui.element
            , layer = layui.layer
            , util = layui.util
            , $ = layui.$;

        var loginName = $("#loginName").val();
        $.ajax({
            type: 'post',
            url: '/user/select',
            async: false,
            data: {
                loginName: loginName
            },
            success: function (data) {
                if (data.userName != "") {
                    $("#userName").text(data.userName);
                }
                if (data.avatar != "") {
                    $("#img").attr('src', "/img/" + data.avatar);
                }
            }
        });

        $(function () {
            $(".layui-nav-child a").click(function (e) {
                if (e.currentTarget.innerText == "退出") {
                    $("#iframeMain").attr("src", $(this).attr("href"));
                } else {
                    e.preventDefault();
                    $("#iframeMain").attr("src", $(this).attr("href") + "?loginName=" + loginName);
                }
            })
        })

        var now = new Date();
        var intDiff = (17 * 60 + 30) * 60 - ((now.getHours() * 60 + now.getMinutes()) * 60 + now.getSeconds())
        echo(intDiff);

        function timer(intDiff) {
            window.setInterval(function () {
                echo(intDiff);
                intDiff--;
            }, 1000);
        }

        $(function () {
            timer(intDiff);
        });

        function echo(intDiff) {
            var day = 0,
                hour = 0,
                minute = 0,
                second = 0;//时间默认值
            if (intDiff > 0) {
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            $('#hour_show').html('<s id="h"></s>' + hour + '时');
            $('#minute_show').html('<s></s>' + minute + '分');
            $('#second_show').html('<s></s>' + second + '秒');
        }
    });
</script>
</body>
</html>