<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>登录</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" media="all">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="layui/css/layui.css" type="text/css">
    <script th:src="@{/layui/layui.js}" src="layui/layui.js"></script>
</head>

<body>

<section class="main">
    <div class="logo text-center">
        <h1><a> we are ~ 登录</a></h1>
    </div>
    <div class="content-w3ls text-center">
        <img src="images/admin.png" alt="" class="img-responsive">
        <form action="#" method="post">
            <div class="wthree-field">
                <input name="loginName" id="loginName" type="text" value="" placeholder="用户名" required>
            </div>
            <div class="wthree-field">
                <input name="password" id="password" type="Password" placeholder="密码" required>
            </div>
            <div class="wthree-field">
                <button id="login" type="button" class="btn">登 录</button>
            </div>
            <div class="login-bottom">
                <a href="/register" class="">注册账号</a>
            </div>
        </form>
    </div>
</section>

</body>
<script>
    layui.use(['element', 'layer', 'util'], function () {
        $("#login").click(function () {
            var loginName = $("#loginName").val();
            var password = $("#password").val();
            if (loginName.length === 0 || password.length === 0) {
                layer.msg("用户名或密码不能为空", {time: 1500});
            } else {
                $.ajax({
                    type: 'post',
                    url: '/UserLogin',
                    async: false,
                    data: {
                        loginName: loginName,
                        password: password
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            window.location.href = "/index2?loginName=" + loginName;
                        } else {
                            layer.msg(data.msg, {time: 1500});
                        }
                    }
                })
            }
        })
    })

</script>

</html>