<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>注册</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" type="text/css" media="all">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="layui/css/layui.css" type="text/css">
    <script th:src="@{/layui/layui.js}" src="layui/layui.js"></script>
</head>

<body>

<section class="main">
    <div class="logo text-center">
        <h1><a> we are ~ 注册</a></h1>
    </div>
    <div class="content-w3ls text-center">
        <img src="images/admin.png" alt="" class="img-responsive">
        <form action="#" method="post">
            <div class="wthree-field">
                <input name="loginName" id="loginName" type="text" value="" placeholder="用户名" required>
            </div>
            <div class="wthree-field">
                <input name="password" id="password" type="Password" placeholder="密码" required>
            </div>
            <div class="wthree-field">
                <input name="rePassword" id="rePassword" type="Password" placeholder="确认密码" required>
            </div>
            <div class="wthree-field">
                <input name="invitation " id="invitation" type="text" placeholder="邀请码" required>
            </div>
            <div class="wthree-field">
                <button type="button" id="register" class="btn">注 册</button>
            </div>
        </form>
    </div>
</section>
</body>

<script>
    layui.use(['element', 'layer', 'util'], function () {
        $("#register").click(function () {
            var loginName = $("#loginName").val();
            var password = $("#password").val();
            var rePassword = $("#rePassword").val();
            var invitation = $("#invitation").val();
            if (loginName.length === 0) {
                layer.msg("用户名不能为空", {time: 1500});
                return false;
            }
            if (password.length === 0) {
                layer.msg("密码不能为空", {time: 1500});
                return false;
            }
            if (rePassword.length === 0) {
                layer.msg("确认密码不能为空", {time: 1500});
                return false;
            }
            if (invitation.length === 0) {
                layer.msg("邀请码不能为空", {time: 1500});
                return false;
            }

            if (password === rePassword) {
                $.ajax({
                    type: 'post',
                    url: '/userRegister',
                    async: false,
                    data: {
                        loginName: loginName,
                        password: password,
                        code: invitation
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            layer.msg(data.msg, {
                                time: 1500
                            }, function () {
                                window.location.href = "/login";
                            });
                        } else {
                            layer.msg(data.msg, {time: 1500});
                        }
                    }
                })
            } else {
                layer.msg("确认密码失败", {time: 1500});
            }

        })
    })

</script>

</html>