<!DOCTYPE html>
<html lang="en" xmls="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="layui/css/layui.css" type="text/css">
    <script th:src="@{/layui/layui.js}" src="layui/layui.js"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
<form class="layui-form" action="">
    <div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px">请输入需要CRC加密前的值:</label>
            <div class="layui-input-inline">
                <input type="text" id="preCrc" name="preCrc" lay-verify="title" autocomplete="off"
                       placeholder="请输入需要CRC加密前的值" class="layui-input">
            </div>
            <button type="button" class="layui-btn layui-btn-normal" id="encrypt">加密</button>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 200px">CRC加密后的值:</label>
            <div class="layui-input-inline">
                <input type="text" id="aftCrc" name="aftCrc" lay-verify="title" readonly autocomplete="off"
                       placeholder="CRC加密后的值" class="layui-input">
            </div>
        </div>
    </div>
</form>
</body>
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form;
        $("#encrypt").click(function () {
            var preCrc = $("#preCrc").val();
            $.ajax({
                type: 'post',
                url: '/crcEncrypt',
                data: {preCrc: preCrc},
                success: function (data) {
                    $("#aftCrc").val(data);
                }
            })

        })

    })
</script>
</html>